<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Wniosek o przyjęcie dziecka do Integracyjnego Żłobka Miejskiego Pod
      Grzybkiem
    </title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div class="page">
      <table>
        <tr>
          <td>Samotne wychowywanie dziecka</td>
          <td></td>
          <td></td>
          <td>
            Prawomocny wyrok sądu orzekającego rozwód lub separację lub
            prawomocny wyrok sądu o przyznaniu alimentów lub brak ojca w akcie
            urodzenia lub akt zgonu rodzica, oraz dodatkowo oświadczenie o
            samotnym wychowywaniu dziecka
          </td>
        </tr>
        <tr>
          <td>
            Posiadanie orzeczenia rodzica /opiekuna prawnego orzeczenia o
            niepełnosprawności w stopniu umiarkowanym, znacznym lub całkowitej
            niezdolności do pracy
          </td>
          <td></td>
          <td></td>
          <td>Orzeczenie o niepełnosprawności</td>
        </tr>
        <tr>
          <td>Dziecko nie dostało miejsca w Żłobku w roku poprzednim</td>
          <td></td>
          <td></td>
          <td>Weryfikacja odbędzie się w Żłobku</td>
        </tr>
        <tr>
          <td>
            Dziecko posiada rodzeństwo w Żłobku. Warunek, że rodzeństwo
            pozostaje w Żłobku na kolejny rok szkolny
          </td>
          <td></td>
          <td></td>
          <td>Weryfikacja odbędzie się w Żłobku</td>
        </tr>
        <tr>
          <td>Rodzeństwo dziecka posiada orzeczenie o niepełnosprawności</td>
          <td></td>
          <td></td>
          <td>Orzeczenie o niepełnosprawności</td>
        </tr>
        <tr>
          <td>
            Rodzina jest w trudnej sytuacji np. młodociana matka, rodzina
            zastępcza, rodzina pod opieką MGOPS, ciężka choroba w rodzinie,
            porzucenie rodziny, rodzina pod nadzorem kuratora, przemoc w
            rodzinie.
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>
            Dziecko wychowuje się w rodzinie wielodzietnej (troje i więcej
            dzieci do 18 roku życia pozostających we wspólnym gospodarstwie
            domowym).
          </td>
          <td></td>
          <td></td>
          <td>Oświadczenie</td>
        </tr>
        <tr>
          <td>
            Dziecko jest szczepione zgodnie z kalendarzem szczepień
            obowiązkowych, opublikowanym w Programie Szczepień Ochronnych na
            dany rok.
          </td>
          <td></td>
          <td></td>
          <td>Oświadczenie</td>
        </tr>
        <tr>
          <td>Dziecko nie jest szczepione ze względu na wskazania medyczne.</td>
          <td></td>
          <td></td>
          <td>
            Zaświadczenie lekarskie o przeciwskazaniach medycznych do
            szczepienia dziecka
          </td>
        </tr>
      </table>

      <p>
        Opis trudnej sytuacji:<br />
        ......<br />
        ......<br />
        ......<br />
        ......<br />
        ......<br />
        ......
      </p>
    </div>
  </body>
</html>
